<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>App de películas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <hr />
      <div class="row">
        <h3 class="col text-center">Detalles de la película</h3>
      </div>
      <hr />
      <div class="row">
        <label class="col">Imagen de la película:</label>
      </div>
      <div class="row" style="text-align:center; margin-top: 2em; margin-bottom: 2em;">
        <img th:src="${movie.image}" class="col" alt="Imagen de la película" style="display:block; margin:auto; max-width: 50%;"/>
      </div>
      <div class="row" style="padding-top: 20px">
        <label class="col">Título:</label>
        <label class="col" th:text="${movie.title}"></label>
      </div>
      <div class="row">
        <label class="col">Año:</label>
        <label class="col" th:text="${movie.year}"></label>
      </div>
      <div class="row">
        <label class="col">Duración:</label>
        <label class="col" th:text="${movie.length + ' min'}"></label>
      </div>
      <div class="row">
        <label class="col">País:</label>
        <label class="col" th:text="${movie.country}"></label>
      </div>
      <div class="row">
        <label class="col">Dirección:</label>
        <label class="col" th:text="${movie.directedBy}"></label>
      </div>
      <div class="row">
        <label class="col">Género:</label>
        <label class="col" th:text="${movie.genre}"></label>
      </div>
      <div class="row">
        <label class="col">Actores:</label>
        <div class="col">
          <div class="row">
            <label th:each="actor : ${movie.actors}" th:text="${actor.name}" />
          </div>
        </div>
      </div>
      <div class="row">
        <label class="col">Sinopsis:</label>
        <label class="col" th:text="${movie.synopsis}"></label>
      </div>
      <div class="row">
        <label class="col">Media de críticas:</label>
        <label class="col" th:text="${movie.criticAvg}"></label>
      </div>
      <div class="row">
        <label class="col">Críticas:</label>
        <div class="col">
          <div class="row" th:each="critic : ${movie.critics}">
            <label  th:text="${critic.opinion}" />
            <label  th:text="${critic.rating}" />
            <label  th:text="${critic.date}" />
          </div>
        </div>
      </div>
      <hr />
      <a class="btn btn-primary" role="button" th:href="@{/movies/list}">Ir a listado de Películas</a>
    </div>
    <!-- /container -->

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>
