<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="es"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title>App de películas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h2 th:text="${title}" class="card-header"></h2>
        <div class="card-body">
          <div th:if="${msg != null}" class="alert alert-success" th:text="${msg}" role="alert"></div>
          <div th:if="${msga != null}" class="alert alert-danger" th:text="${msga}" role="alert"></div>
          <h4 class="card-title">
            <a th:href="@{/users/new}" class="btn btn-primary btn-xs">Crear usuario nuevo</a>
          </h4>
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Identificador</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Rol</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="user : ${userList}">
                <td>
                  <button
                    class="btn btn-primary btn-xs"
                    th:text="${user.id}"
                  ></button>
                </td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td>
                  <table>
                    <tbody>
                      <tr th:each="role: ${user.roles}">
                        <td th:text="${role.authority}"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                  <a
                    th:href="@{/users/edit/{id}  (id=${user.id})  }"
                    th:text="'editar'"
                    class="btn btn-success btn-sm"
                    role="button"
                    title="Editar el usuario."
                    ><i class="fas fa-pencil-alt" aria-hidden="true"></i
                  ></a>
                  <a
                    th:href="@{/users/delete/{id}  (id=${user.id})   }"
                    th:text="'borrar'"
                    onclick="return confirm('¿Estas seguro?')"
                    class="btn btn-danger btn-sm"
                    role="button"
                    title="Eliminar el usuario."
                    ><i class="fas fa-trash" aria-hidden="true"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>

          <nav th:replace="paginator-nav :: paginator"></nav>
        </div>
      </div>
      <hr />
      <a class="btn btn-primary" role="button" th:href="@{/home/}">Ir a Inicio</a>
    </div>
    <!-- /container -->

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>
